#progress {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: white;
  opacity: 0.3;
}

#progress .indicator {
  stroke: white;
}

.tab-ul {
  display: flex;
  list-style: none;
  height: 300px;
  overflow-x: scroll;
  padding: 20px 0 5px 0;
  margin: 0 auto;
}

::-webkit-scrollbar {
  height: 15px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.tab-content {
  flex: 0 0 450px;
  margin: 0 20px 0 0;
}

@media (max-width: 1024px) {
  .tab-content {
    flex: 0 0 400px;
  }
}

.tab-content:last-of-type {
  margin: 0;
}
